njc-wma-client-papi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="njc-wma-client-papi-config" api="resource::21d18d8d-64d8-45bc-ba39-0e440c44c954:njc-wma-client-papi:1.0.3:raml:zip:njc-wma-client-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="njc-wma-client-papi-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="njc-wma-client-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="njc-wma-client-papi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="njc-wma-client-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\asset\(Id):njc-wma-client-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="Id">attributes.uriParams.'Id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    assetName: "Adams' House",
    assetType: "Real Estate",
    recordType: "Asset",
    recordTypeId: "0125i000001pSFpAAM",
    id: "a025i00000Nz6VTAAZ",
    primaryOwner: "Rachel Adams",
    primaryOwnerId: "0015i00000nflgqAAA",
    jointOwner: "Nigel Adams (Sample)",
    jointOwnerId: "0015i00000nflgoAAA",
    household: "Adams Household",
    houseHoldId: "0015i00000nflgdAAA",
    amount: "1000000.0",
    description: "Mortgage Loan",
    ownership: "Joint",
    ownerType: "0015i00000nflgqAAA",
    ownerId: "0055i00000B0wQSAAZ"
  }, 
  {
    assetName: "Rachel_Jewelry",
    assetType: "Jewelry",
    recordType: "Asset",
    recordTypeId: "0125i000001pSFpAAM",
    id: "a025i00000Pc7UgAAJ",
    primaryOwner: "Rachel Adams",
    primaryOwnerId: "0015i00000nflgqAAA",
    household: "Adams Household",
    houseHoldId: "0015i00000nflgdAAA",
    amount: "100000.0",
    ownership: "Individual",
    ownerType: "0015i00000nflgqAAA",
    ownerId: "0055i00000B0wQSAAZ",
    financialAccountDetails: {
      status: "closed",
      currentvalue: "115000.00",
      totalInvestment: "100000.00",
      totalWithdrawn: "0",
      netChange: "15000.00",
      "type": "Managed Account",
      taxStatus: "Qualified",
      source: "Manual Entry",
      description: "Invested on Jewelery",
      balance: "115000.00",
      cashBalance: "110000.00",
      dateOpened: "2022-06-01"
    }
  }, 
  {
    assetName: "BMW Car",
    assetType: "Automobile",
    recordType: "Asset",
    recordTypeId: "0125i000001pSFpAAM",
    id: "a025i00000Pc7UuAAJ",
    primaryOwner: "Rachel Adams",
    primaryOwnerId: "0015i00000nflgqAAA",
    household: "Adams Household",
    houseHoldId: "0015i00000nflgdAAA",
    amount: "500000.0",
    ownership: "Individual",
    ownerType: "0015i00000nflgqAAA",
    ownerId: "0055i00000B0wQSAAZ",
    financialAccountDetails: {
      product: "TVS Auto Finance",
      financialAccountname: "BMW Car Loan",
      nickname: "BMW Car Loan",
      accountNumber: "CAR91234",
      stage: "complete",
      status: "open",
      minimumPayment: "25000.00",
      balance: "300000.00",
      balanceLastStatement: "290000.00",
      principalBalance: "250000.00",
      loanAmount: "500000.00",
      lastUpdated: "2023-05-31",
      lastTransactiondate: "2023-05-31T06:30:00.000+0000",
      loanTerm: "24",
      loanEnddate: "2024-06-30",
      dateOpened: "2022-06-01",
      paymentFrequency: "monthly",
      "type": "Single Family home",
      applicationDate: "2022-05-01",
      interest: 5
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\client\(id):njc-wma-client-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="3e2e3e29-1391-49a5-8dbb-f5e277d596e2" name="wma-client-fianacialdata-orchestration-papiFlow" />
        <logger level="INFO" message="get:\client\(id):njc-wma-client-papi-config" />
    </flow>
    <flow name="njc-wma-client-papiFlow" doc:id="8f99ec07-d9b7-4d93-80a3-7af24064d17c">
        <flow-ref doc:name="Flow Reference" doc:id="e83da07f-12e9-4bb1-9b42-1ef42b2e2a34" name="income" />
    </flow>
    <flow name="get:\income\(id):njc-wma-client-papi-config">
        <flow-ref doc:name="Flow Reference" doc:id="76986b15-ee00-4607-9623-24393c175903" name="income" />
    </flow>
    <flow name="get:\asset\(id):njc-wma-client-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="bbcc96e6-66b5-42cd-ad2e-cca490d30e6c" name="asset"/>
    </flow>
    <flow name="get:\liability\(id):njc-wma-client-papi-config">
		<flow-ref doc:name="Flow Reference" doc:id="97eb1b51-f917-4dc4-bcb4-b6457b7a8bc0" name="liability"/>
    </flow>
</mule>
